<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>01 GAMES</title>

        <link rel="stylesheet" href="../static/css/estiloPrincipal.css" />

    </head>

    <body>

        <a href="index.html"><div class="logo"></div></a>
        
        <div class="barra">

            <a href="comunidad.html" class="seccion"> Comunidad </a>
            <a href="index.html" class="seccion"> Noticias </a>
            <a href="foro.html" class="seccion"> Foro </a>

        </div>

        <div class="textos">

            <div class="titulo">

                <strong> Foro </strong>

            </div>



        </div>


    </body>

</html>